<%- include("./../partials/header") %>

<style>
  @media (min-width: 992px) and (max-width: 1900px) {
    img.imge {
      height: 80px;
      width: 180px;
    }
  }
  @media only screen and (min-width: 768px) {
    img.imge {
      height: 80px;
      width: 180px;
    }
  }
  @media only screen and (min-width: 600px) {
    img.imge {
      height: 80px;
      width: 180px;
    }
  }
</style>
<br /><br /><br />

<div class="container"><%- include("./../partials/messages") %></div>

<% if (typeof wishlist !== "undefined") { %>
<div class="container mb-4 mt-5 table-responsive">
  <table class="table table-striped alignmiddle">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Property</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <%wishlist.forEach(function(product){ %>
    <tbody>
      <tr>
        <td>
          <img
            class="img-fluid imge"
            src="<%= product.avatar %>"
            alt="property image"
          />
        </td>
        <td><%= product.title %></td>
        <td>₹<%= product.price %></td>
        <td>
          <a href="/wishlist/update/<%= product.title %>?action=clear">Clear</a
          >&nbsp;
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <!-- <div class="row d-flex justify-content-center"> -->
  <div class="d-flex justify-content-center">
    <a class="btn btn-primary" style="width: 120px" href="/wishlist/clear">
      Clear</a
    >
  </div>
  <!-- </div> -->
</div>
<% } else {%>
<br /><br />
<h3 class="text-center">Your wishlist is empty.</h3>
<% } %> <%- include("./../partials/footer") %>
